streamlit
datetime
uuid
numpy
pymongo
PyMySQL
pydantic
pytest
pyaml
pandas
python-dotenv
redis
requests
SQLAlchemy
sqlalchemy-json
sqlalchemy-stubs
tqdm
Unidecode
psycopg2-binary
mysql-connector-python
aioredis