streamlit
datetime
json
uuid
re
numpy
pymongo
PyMySQL
pydantic
pytest
pyaml
pandas
python-dotenv
redis
requests
SQLAlchemy
sqlalchemy-json
sqlalchemy-stub
tqdm
Unidecode
psycopg2-binary
mysql-connector-python
aioredis